@model string
<div class="form-group">
    <label asp-for="@Model"></label>
    <textarea class="form-control" asp-for="@Model" id="ckEditor4" ></textarea>
    <span asp-validation-for="@Model" class="text-danger"></span>
</div>

