@page
@using Mag_Blog.Web.Pages.Shared._AuthLayout
@model Mag_Blog.Web.Pages.Auth.Login

@{
    Layout = "Shared/_AuthLayout/_AuthLayout";
    ViewData["Title"] = "ورود";
}

<form method="post" >
    <h1>@ViewData["Title"]</h1>
    <div>
        <input asp-for="UserName" type="text" placeholder="نام کاربری" />
         <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <input asp-for="Password" type="password" placeholder="کلمه عبور" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <input type="submit" value="@ViewData["Title"]"/>
        <a href="#">فراموشی کلمه عبور</a>
        <a asp-page="Register" >ثبت نام</a>
    </div>
</form>