@page
@using Mag_Blog.Web.Pages.Shared._AuthLayout
@model Mag_Blog.Web.Pages.Auth.Register

@{
    Layout = "Shared/_AuthLayout/_AuthLayout";
    ViewData["Title"] = "ثبت نام";
}

<form method="Post" asp-page="Register">
    <h1>@ViewData["Title"]</h1>
    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" type="text" placeholder="نام کاربری" required="" id="username"/>
  <span asp-validation-for="UserName" style="color: red"></span>
    </div>
    <div>
         <label asp-for="FullName"></label>
        <input asp-for="FullName" type="text" placeholder="نام و نام خانوادگی"/>
          <span asp-validation-for="FullName" style="color: red"></span>
    </div>
    <div> <label asp-for="Password"></label>
        <input asp-for="Password" type="password" placeholder="کلمه عبور" required="" id="password"/>
           <span asp-validation-for="Password" class="text-danger"></span>
    </div> 
   
    <div>
        <input type="submit" value="@ViewData["Title"]"/>
        <a href="#">فراموشی کلمه عبور</a>
        <a asp-page="Login">ورود</a>
    </div>
</form>